<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityName</key>
		<string>深圳</string>
		<key>cityImage</key>
		<string>image0</string>
		<key>cityDetail</key>
		<string>深圳（Shenzhen），别称鹏城 ，广东省辖市，中国国家区域中心城市（华南），地处广东省南部，珠江口东岸，与香港一水之隔，东临大亚湾和大鹏湾；西濒珠江口和伶仃洋</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>苏州</string>
		<key>cityImage</key>
		<string>image1</string>
		<key>cityDetail</key>
		<string>苏州，古称吴，简称为苏，又称姑苏、平江等，中国华东地区特大城市之一，位于江苏省东南部、长江以南、太湖东岸、长江三角洲中部。</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>北京</string>
		<key>cityImage</key>
		<string>image2</string>
		<key>cityDetail</key>
		<string>北京（Beijing），中华人民共和国的首都、直辖市和国家中心城市，是中国的政治、文化中心，中国经济的决策和管理中心</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>杭州</string>
		<key>cityImage</key>
		<string>image3</string>
		<key>cityDetail</key>
		<string>杭州，简称杭，是浙江省省会，位于中国东南沿海、浙江省北部、钱塘江下游北岸、京杭大运河南端，是浙江省的政治、经济、文化、科教、交通、传媒、通信和金融中心。</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>上海</string>
		<key>cityImage</key>
		<string>image4</string>
		<key>cityDetail</key>
		<string>上海（Shanghai），简称“沪”，有“东方巴黎”的美称，中华人民共和国直辖市之一，中国国家中心城市，中国的经济、金融中心，繁荣的国际大都市</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>无锡</string>
		<key>cityImage</key>
		<string>image5</string>
		<key>cityDetail</key>
		<string>无锡，简称“锡”，古称梁溪、金匮，被誉为“太湖明珠”。无锡市位于长江三角洲平原腹地，江苏南部，太湖流域的交通中枢，京杭大运河从中穿过。</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>南京</string>
		<key>cityImage</key>
		<string>image6</string>
		<key>cityDetail</key>
		<string>南京，简称宁，是江苏省会。南京地处长江下游沿岸，江苏省西南部，邻靠安徽省。南京，历史上长期是中国南方的政治文化中心，有厚重的文化底蕴和丰富的历史遗存。</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>宁波</string>
		<key>cityImage</key>
		<string>image7</string>
		<key>cityDetail</key>
		<string>宁波，简称为甬， 地处东南沿海，位于中国大陆海岸线中段，长江三角洲南翼，东有舟山群岛为天然屏障，北濒杭州湾，西接绍兴市的嵊州、新昌、上虞，南临三门湾，并与台州的三门、天台相连。</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>常州</string>
		<key>cityImage</key>
		<string>image8</string>
		<key>cityDetail</key>
		<string>常州，地处长江之南、太湖之滨，是江苏省省辖市，处于长江三角洲中心地带，与苏州、无锡联袂成片，构成苏锡常都市圈</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>东莞</string>
		<key>cityImage</key>
		<string>image9</string>
		<key>cityDetail</key>
		<string>东莞是广东省省辖市，是“广东四小虎”之一，号称“世界工厂”，是全国4个不设市辖区的地级市之一。</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>天津</string>
		<key>cityImage</key>
		<string>image10</string>
		<key>cityDetail</key>
		<string>天津，简称津，是中华人民共和国直辖市、中国国家中心城市、新一线城市、中国北方经济中心、环渤海地区经济中心、中国北方国际航运中心、中国北方国际物流中心</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>昆山</string>
		<key>cityImage</key>
		<string>image11</string>
		<key>cityDetail</key>
		<string>昆山（Kunshan），苏州市下辖县位于江苏省东南部，总面积927.68平方公里，其中水域面积占23.1%。地处上海与苏州之间；北至东北与常熟、太仓两市相连，东与上海嘉定</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>武汉</string>
		<key>cityImage</key>
		<string>image12</string>
		<key>cityDetail</key>
		<string>武汉是湖北省省会，简称汉，由武昌、汉口、汉阳合并组成，地处中国腹地中心，江汉平原东部。</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>南通</string>
		<key>cityImage</key>
		<string>image13</string>
		<key>cityDetail</key>
		<string>南通，江苏省地级市，位于苏中，长江三角洲北翼，简称“通”，别称静海、崇州、崇川、紫琅，古称通州。中国首批对外开放的14个沿海城市之一</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>佛山</string>
		<key>cityImage</key>
		<string>image14</string>
		<key>cityDetail</key>
		<string>佛山，简称佛，广东省省辖市，中国先进制造业基地、珠三角重要的制造业城市、广东重要的制造业中心，是珠江三角洲经济圈的重要城市，在广东省经济发展中处于领先地位。</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>中山</string>
		<key>cityImage</key>
		<string>image15</string>
		<key>cityDetail</key>
		<string>中山市广东省辖地级市，是中国4个不设市辖区的地级市之一。介于东经113°9′2″至113°46′，北纬22°11′12″至22°46′35″之间，位于珠江三角洲中部偏南的西</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>青岛</string>
		<key>cityImage</key>
		<string>image16</string>
		<key>cityDetail</key>
		<string>青岛市，简称青，别称胶，被誉为琴岛和岛城，青岛拥有国际性海港和区域性枢纽空港，是21个全国性物流节点城市和42个全国性综合交通枢纽（节点城市）之一。</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>镇江</string>
		<key>cityImage</key>
		<string>image17</string>
		<key>cityDetail</key>
		<string>镇江是中国江苏省所辖地级市，位于江苏省西南部位于中国东部沿海、江苏南部，古时称“润州”，民国时期为江苏省省会。</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>长沙</string>
		<key>cityImage</key>
		<string>image18</string>
		<key>cityDetail</key>
		<string>长沙，简称长，别称星城，古称潭州，南方重要的中心城市，南中国综合性交通枢纽，首批国家历史文化名城</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>成都</string>
		<key>cityImage</key>
		<string>image19</string>
		<key>cityDetail</key>
		<string>成都，四川省省会，成都位于中国华西地区东部，成都平原腹地，古为蜀国地，秦并巴、蜀为蜀郡并建城，汉因织锦业发达专设锦官管理，故有“锦官城”之称</string>
	</dict>
	<dict>
		<key>cityName</key>
		<string>大连</string>
		<key>cityImage</key>
		<string>image20</string>
		<key>cityDetail</key>
		<string>大连，别称滨城，旧名达里尼、青泥洼。位于辽东半岛南端，地处黄渤海之滨，背依中国东北腹地，与山东半岛隔海相望。是中国15个副省级城市之一，5个计划单列市之一，中国14个沿海开放城市之一。</string>
	</dict>
</array>
</plist>
