<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>currentdealcount</key>
		<string>24384</string>
		<key>district</key>
		<string>全国</string>
		<key>durl</key>
		<string>http://mp.manzuo.com/china/phs/24/248441.xml</string>
		<key>hassub</key>
		<string>0</string>
		<key>id</key>
		<string>248441</string>
		<key>multipagetitle</key>
		<string>爱康国宾特惠套餐</string>
		<key>price</key>
		<string>365.0</string>
		<key>New item</key>
		<string></string>
		<key>priceoff</key>
		<string>238.0</string>
		<key>wsdimg</key>
		<string>38709506_w_more.jpg</string>
	</dict>
	<dict>
		<key>currentdealcount</key>
		<string>24174</string>
		<key>district</key>
		<string>北京等</string>
		<key>durl</key>
		<string>http://mp.manzuo.com/china/phs/27/275344.xml</string>
		<key>hassub</key>
		<string>0</string>
		<key>id</key>
		<string>275344</string>
		<key>multipagetitle</key>
		<string>【全国94加店通用】仅售488元！价值968元的友康关爱青年体检套餐！</string>
		<key>price</key>
		<string>968.0</string>
		<key>priceoff</key>
		<string>488.0</string>
		<key>wsdimg</key>
		<string>45259279_w_more.jpg</string>
	</dict>
	<dict>
		<key>currentdealcount</key>
		<string>23703</string>
		<key>district</key>
		<string>北京等</string>
		<key>durl</key>
		<string>http://mp.manzuo.com/china/phs/27/275717.xml</string>
		<key>hassub</key>
		<string>0</string>
		<key>id</key>
		<string>275717</string>
		<key>multipagetitle</key>
		<string>仅售599元，即享价值1088元的大麦爱康中老年体检套餐！</string>
		<key>price</key>
		<string>1088.0</string>
		<key>priceoff</key>
		<string>599.0</string>
		<key>wsdimg</key>
		<string>28510026_w_more.jpg</string>
	</dict>
	<dict>
		<key>currentdealcount</key>
		<string>21540</string>
		<key>district</key>
		<string>北京等</string>
		<key>durl</key>
		<string>http://mp.manzuo.com/china/phs/27/275521.xml</string>
		<key>hassub</key>
		<string>0</string>
		<key>id</key>
		<string>275521</string>
		<key>multipagetitle</key>
		<string>仅售352元，价值555元的爱康国宾宫颈癌检测套餐</string>
		<key>price</key>
		<string>555.0</string>
		<key>priceoff</key>
		<string>352.0</string>
		<key>wsdimg</key>
		<string>21804105_w_more.jpg</string>
	</dict>
	<dict>
		<key>currentdealcount</key>
		<string>21172</string>
		<key>district</key>
		<string>北京等</string>
		<key>durl</key>
		<string>http://mp.manzuo.com/china/phs/27/275655.xml</string>
		<key>hassub</key>
		<string>0</string>
		<key>id</key>
		<string>275655</string>
		<key>multipagetitle</key>
		<string>仅售1440元，即享价值2215元的爱康国宾标准F（男）体检套餐！</string>
		<key>price</key>
		<string>2215.0</string>
		<key>priceoff</key>
		<string>1440.0</string>
		<key>wsdimg</key>
		<string>45473441_w_more.jpg</string>
	</dict>
	<dict>
		<key>currentdealcount</key>
		<string>20534</string>
		<key>district</key>
		<string>北京等</string>
		<key>durl</key>
		<string>http://mp.manzuo.com/china/phs/13/132938.xml</string>
		<key>hassub</key>
		<string>0</string>
		<key>id</key>
		<string>132938</string>
		<key>multipagetitle</key>
		<string>【全国通用】瑞康专业体检机构体检A套餐！另有更多套餐可选！</string>
		<key>price</key>
		<string>495.0</string>
		<key>priceoff</key>
		<string>268.0</string>
		<key>wsdimg</key>
		<string>92989931_w_more.jpg</string>
	</dict>
	<dict>
		<key>currentdealcount</key>
		<string>18757</string>
		<key>district</key>
		<string>北京等</string>
		<key>durl</key>
		<string>http://mp.manzuo.com/china/phs/27/275634.xml</string>
		<key>hassub</key>
		<string>0</string>
		<key>id</key>
		<string>275634</string>
		<key>multipagetitle</key>
		<string>仅售488元，价值750元的爱康国宾，女性胰腺癌体检</string>
		<key>price</key>
		<string>750.0</string>
		<key>priceoff</key>
		<string>488.0</string>
		<key>wsdimg</key>
		<string>34323002_w_more.jpg</string>
	</dict>
	<dict>
		<key>currentdealcount</key>
		<string>15322</string>
		<key>district</key>
		<string>北京等</string>
		<key>durl</key>
		<string>http://mp.manzuo.com/china/phs/27/275607.xml</string>
		<key>hassub</key>
		<string>0</string>
		<key>id</key>
		<string>275607</string>
		<key>multipagetitle</key>
		<string>仅售620元，价值975元的爱康国宾脑血管专项检测!</string>
		<key>price</key>
		<string>975.0</string>
		<key>priceoff</key>
		<string>620.0</string>
		<key>wsdimg</key>
		<string>54565589_w_more.jpg</string>
	</dict>
	<dict>
		<key>currentdealcount</key>
		<string>13893</string>
		<key>district</key>
		<string>北京等</string>
		<key>durl</key>
		<string>http://mp.manzuo.com/china/phs/13/132951.xml</string>
		<key>hassub</key>
		<string>0</string>
		<key>id</key>
		<string>132951</string>
		<key>multipagetitle</key>
		<string>【114店通用】大麦体检基本套餐！另有其它套餐可选！</string>
		<key>price</key>
		<string>596.0</string>
		<key>priceoff</key>
		<string>298.0</string>
		<key>wsdimg</key>
		<string>68560914_w_more.jpg</string>
	</dict>
	<dict>
		<key>currentdealcount</key>
		<string>12247</string>
		<key>district</key>
		<string>北京等</string>
		<key>durl</key>
		<string>http://mp.manzuo.com/china/phs/27/277326.xml</string>
		<key>hassub</key>
		<string>0</string>
		<key>id</key>
		<string>277326</string>
		<key>multipagetitle</key>
		<string>【全国慈铭体检中心通用】仅售1398元！价值2330元的慈铭尊贵套餐！</string>
		<key>price</key>
		<string>2330.0</string>
		<key>priceoff</key>
		<string>1398.0</string>
		<key>wsdimg</key>
		<string>85461538_w_more.jpg</string>
	</dict>
	<dict>
		<key>currentdealcount</key>
		<string>9715</string>
		<key>district</key>
		<string>北京等</string>
		<key>durl</key>
		<string>http://mp.manzuo.com/china/phs/15/156906.xml</string>
		<key>hassub</key>
		<string>0</string>
		<key>id</key>
		<string>156906</string>
		<key>multipagetitle</key>
		<string>汇康一卡通基础套组！专业的健康咨询团队、先进的IT技术平台！另有其他套餐可选！</string>
		<key>price</key>
		<string>512.0</string>
		<key>priceoff</key>
		<string>256.0</string>
		<key>wsdimg</key>
		<string>57500865_w_more.jpg</string>
	</dict>
	<dict>
		<key>currentdealcount</key>
		<string>5280</string>
		<key>district</key>
		<string>北京等</string>
		<key>durl</key>
		<string>http://mp.manzuo.com/china/phs/5/56623.xml</string>
		<key>hassub</key>
		<string>0</string>
		<key>id</key>
		<string>56623</string>
		<key>multipagetitle</key>
		<string>【全国78店通用】巴比娜美裸体粉红SPA套系！另有美盛世之田园美容SPA套餐可选！</string>
		<key>price</key>
		<string>2409.0</string>
		<key>priceoff</key>
		<string>28.0</string>
		<key>wsdimg</key>
		<string>bobbie_w_more.jpg</string>
	</dict>
	<dict>
		<key>currentdealcount</key>
		<string>5071</string>
		<key>district</key>
		<string>全国</string>
		<key>durl</key>
		<string>http://mp.manzuo.com/china/prm/26/261176.xml</string>
		<key>hassub</key>
		<string>-1</string>
		<key>id</key>
		<string>261176</string>
		<key>multipagetitle</key>
		<string>肯尼亚（马赛马拉，博高利亚湖，树顶公园，肯尼亚山）9天动物世界之旅（ET-品质团）！</string>
		<key>price</key>
		<string>17999.0</string>
		<key>priceoff</key>
		<string>14499.0</string>
		<key>wsdimg</key>
		<string>68234216_w_more.jpg</string>
	</dict>
	<dict>
		<key>currentdealcount</key>
		<string>5071</string>
		<key>district</key>
		<string>全国</string>
		<key>durl</key>
		<string>http://mp.manzuo.com/china/prm/26/261178.xml</string>
		<key>hassub</key>
		<string>-1</string>
		<key>id</key>
		<string>261178</string>
		<key>multipagetitle</key>
		<string>埃及（卢克索，红海）、阿联酋10天阿拉伯风情之旅（EY）！</string>
		<key>price</key>
		<string>13999.0</string>
		<key>priceoff</key>
		<string>11999.0</string>
		<key>wsdimg</key>
		<string>98044035_w_more.jpg</string>
	</dict>
	<dict>
		<key>currentdealcount</key>
		<string>5071</string>
		<key>district</key>
		<string>全国</string>
		<key>durl</key>
		<string>http://mp.manzuo.com/china/prm/26/261181.xml</string>
		<key>hassub</key>
		<string>-1</string>
		<key>id</key>
		<string>261181</string>
		<key>multipagetitle</key>
		<string>巴西（玛瑙斯）、阿根廷12天拉丁风情之旅（QR-上海）！</string>
		<key>price</key>
		<string>39999.0</string>
		<key>priceoff</key>
		<string>37300.0</string>
		<key>wsdimg</key>
		<string>69120660_w_more.jpg</string>
	</dict>
</array>
</plist>
